@import "./global.css";

.colorChangeCardColor--0 {
   background-color: #c1e1e6;
}
.colorChangeCardColor--1 {
   background-color: #48bcce;
}
.colorChangeCardColor--2 {
   background-color: #d32398;
}
.colorChangeCardColor--3 {
   background-color: #ebc20e;
}

/*  -----------------------------------------------------------
            Challenge 1: Card Background Fade
---------------------------------------------------------------- */

/* --- Section 1: Card Background Color Change --- */
.colorChangeCard {
   width: 250px;
   height: 150px;

   /* Initial light blue */
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.2em;
   font-weight: bold;
   color: #333;
   transition: background-color 0.8s ease-in-out;
   /* Smooth fade transition */
   margin-bottom: 20px;
}

/*  -----------------------------------------------------------
            Challenge 2: Button Hover Size Change
---------------------------------------------------------------- */

/* Write here your solution for this challenge.
The button that you are working with as an id attribute set in  #hoverButton*/
.hoverButton {
   size: 1;
   transition: transform 1s;
}

.hoverButton:hover {
   transform: scale(2, 1);
}

/*  -----------------------------------------------------------
            Challenge 3: Loading Spinner Toggle
---------------------------------------------------------------- */
.loader-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 70%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #f5f6f680;
   z-index: 10;
   opacity: 0;
   visibility: hidden;

   /* Write here your solution */
}

.loader-container.active {
   opacity: 1;
   visibility: visible;
}

.loader {
   border: 8px solid var(--grey-dark);
   border-top: 8px solid var(--secondary);
   border-radius: 50%;
   width: 50px;
   height: 50px;
   animation: spin 1s linear infinite;
   /* Write here your solution with the spinning animation */
}

/* Add to the keyframes the transformation */
@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

/*  -----------------------------------------------------------
            Challenge 4: Slide-in Div
----------------------------------------------------------------.*/

.slideInContainer {
   overflow: hidden;
}

.slideInBox {
   position: absolute;
   top: 0;
   right: 0;
   width: 70%;
   height: 50px;
   background-color: #ffc107;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5em;
   font-weight: bold;
   color: #333;
   margin-top: 15px;
   /* Write here your solution */
   /* Hides it initially to the right */
   transform: translateX(120%);
   transition: transform 1s;
}

.slideInBox.active {
   transform: translateX(-35px);
}
